.events__subheader {
  border-bottom: solid;
  font-size: 18pt;
  color: #999999;
  padding: 20px;
}

.eventListItem__cont {
  border-bottom: #999999 solid;
}

.eventListItem {
  color: #000000;
  display: grid;
  grid-template-areas: "image details";
  grid-template-rows: auto;
  grid-template-columns: 30% auto;
  padding: 30px;
}

.eventListItem:hover {
  text-decoration: none;
}

.event__previewImage {
  height: auto;
  grid-area: "image";
  max-width: 250px;
}

.event__datetime__cont {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0px;
}

.event__datetime__cont > li {
  padding-left: 0px;
  padding-right: 10px;
}
