.hidden {
  display: none;
}

.main__header {
  border-bottom: 2px solid #cccccc;
  display: flex;
  align-items: center;
  margin: auto;
  /* position: fixed; */
  width: 100%;
  height: 70px;
}

.main__header_logo {
  height: auto;
  width: 100px;
}

.main__menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  margin: auto 30px;
  width: 100%;
}
.profile__header {
  display: flex;
  flex-direction: row;
}

.profile__startgroup__link {
  font-size: medium;
  padding: 20px;
}
.profile-dropdown {
  background-color: #ffffff;
  border: solid;
  font-size: 12pt;
  position: relative;
  list-style: none;
  top: 0px;
  padding: 5px 0px;
  padding-inline-start: 0px;
  width: fit-content;
}
.profile-dropdown > li {
  padding: 5px 10px;
}
.profile__dropdown__link {
  cursor: pointer;
}
.profile-dropdown > li:last-of-type {
  border-top: solid;
}

.profile-dropdown > li > button {
  background-color: unset;
  border: none;
  font-weight: bold;
}
